
<header>
		<nav class="navbar navbar-expand-lg navbar-light bg-light ">
				<div class="container">
		  		<div class="collapse navbar-collapse " id="navbarSupportedContent">
		  <ul class="navbar-nav">
					<li class="nav-item">
							<a class="nav-link " href="#Contact">اتصل بنا</a>
							</li>
					<li class="nav-item">
							<a class="nav-link " href="#Clients">عملائنا</a>
							</li>
					<li class="nav-item">
							<a class="nav-link " href="#Services">خدماتنا</a>
						</li>
					<li class="nav-item">
							<a class="nav-link" href="#AboutUs">من نحن</a>
						</li>
			<li class="nav-item active">
			  <a class="nav-link" href="#">الرئيسية  </a>
			</li>
			</ul>
		</div>
			<a class="navbar-brand " href="#trowel"> Trowel   <img src="/images/logo/trowel.png"></a>
          
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				القائـمـه  <span class="navbar-toggler-icon"></span> 
		</button>
	
</div>
		</nav>
		
	

</header>
