<section class="aboutus">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-12 co-sm-12 wow fadeInUp b-2">
				<div class="card" id="Contact">
      <div class="card-header">
  <span class="s-1"> من 9 صباحاً إلي 5 مساءاً </span><br/>

 <span class="s-2">راسلنا</span><br />
<span class="s-3">يومياً ماعدا الجمعة والسبت</span>
  </div>
  <div class="card-body">
    <form>
  <div class="form-group">
     <input type="text=" class="form-control" name="name" placeholder="اسمك هنا">
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="بريدك الالكترونى">
    <small id="emailHelp" class="form-text text-muted  " style="display:none">We'll never share your email with anyone else.</small>
  
   
    <input type="text=" class="form-control"  placeholder="عنوان الرسالة">
    <input type="text=" class="form-control ms-4"  placeholder="محتوى الرسالة">
    <a href="#" class="btn  btn-block">ارسال</a>
  </div>
  
    
</form>
  </div>
</div>

	</div>
	<div class="col-lg-8 col-md-12 co-sm-12  b-1 ">
		<div id="AboutUs">
		<h1>نبذة عنا</h1>
		<p>يقال أن لحظة الحقيقة بالنسبة لشركات البناء تأتي بمرور الأعوام ،و لذلك فبمرور 20 عاما بالعمل في هذا المجال يعد علامة فارقة بالنسبة لشركتنا و يعد أيضا دليل علي النضج و الصلابة . اعتماداً على أداءنا المتميز خلال 25 عام من التواجد، وعلى الخبرة المكتسبة بقطاعات التشييد والبناء التي تخصصنا وتميزنا بها، بنينا شركة ترويل للتعمير لتبقى، وتتفوق، وتشييد الفارق حيث أصبحنا في القطاعات التي نعمل بها نحن، العميل، البيئة كيانا واحداً</p>
		<h3>من نحن بإختصار</h3>
		<div class="whoWeAre">
			<div class="row">
				<div class="col-3 text-center">
						<img src="/images/services/constructor-with-hard-hat-protection-on-his-head.png">
					<p>الأمان</p>
				</div>
				<div class="col-3 text-center">
					<img src="/images/services/icons8-business-building-50.png">
					<p>التعاون</p>
				</div>
				<div class="col-3 text-center">
					<img src="/images/services/construction-tool-vehicle-with-crane-lifting-materials.png">
					<p>السلامة</p>
				</div>
				<div class="col-3 text-center">
					<img src="/images/services/drawing-compass.png">
					<p>النزاهة</p>
				</div>
         </div>
			</div>
	</div>
	
	<div class=" clients" id="Clients">
		<h3>عملائنا</h3>
	<div id="clients" class="carousel slide" data-ride="carousel" style="    background-color: #fdfdfd;
    height: 200px;">
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active text-center">
      <img class=" text-center" src="/images/services/engineer.svg" alt="First slide" >
       <p  class="text-center">  مؤسسة ترويل هى الأفضل في أعمال البناء والتشطيب  </p>
    </div>
    <div class="carousel-item text-center">
      <i<img class=" text-center" src="/images/services/engineer.svg" alt="First slide" >
       <p  class="text-center">  مؤسسة ترويل هى الأفضل في أعمال البناء والتشطيب  </p>
    </div>
    <div class="carousel-item text-center">
     <img class=" text-center" src="/images/services/engineer.svg" alt="First slide" >
       <p  class="text-center">  مؤسسة ترويل هى الأفضل في أعمال البناء والتشطيب  </p>
    </div>
  </div>
  <a class="carousel-control-prev" href="#clients" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#clients" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
	</div>
	
</div>
</div>

</section>