<div class="services ">
<div class="container ">
	<h1 class="text-center">خدمات نقدمها لكم</h1>
   <div class="row" id="Services">
    <div class="col">
	<div class="card-group">
  <div class="card ">
   
    <div class="card-body wow bounceInUp">
       <img class="card-img-top" src="/images/services/engineer.svg" alt="Card image cap">
       <h4 class="card-title">الهندسة</h4><hr>
      <p class="card-text">يفخر فريق عملنا بالعلاقة مع الشركاء الآخرين في المشروع والعمل الجاد لتعزيز التعاون والاحترام المتبادل في جميع المشاريع التي نقوم بتنفيذها.</p>
    
    </div>
  </div>
   </div>
  </div>
   <div class="col">
  <div class="card-group">
  <div class="card">
   
    <div class="card-body">
    	 <img class="card-img-top" src="/images/services/window-1.svg" alt="Card image cap">
      <h4 class="card-title">التأمين</h4><hr>
      <p class="card-text">الانضباط والرقابة المستمرة هو شعارنا ومنهجنا لاكمال مشروعك بالشكل الأمثل ، نحرص تماما على كل تفاصيل العمل لتقديم نتائج عظيمة تجعلك في قمة السعادة</p>
  
     </div>
     </div>
    </div>
   </div>
     <div class="col">
  <div class="card-group">
  <div class="card">
   
    <div class="card-body">
    	 <img class="card-img-top" src="/images/services/paint-roller-1.svg" alt="Card image cap">
      <h4 class="card-title">التجديد</h4><hr>
      <p class="card-text">تقوم شركتنا بتجديد العقارات وإعادة ترميمها بأحدث التصميمات العالمية ونخبة من مهندسين الديكور لجعل المبني الخاص بك من أجمل المباني</p>
      
    </div>
  </div>
  </div>
  </div>
      <div class="col">
  <div class="card-group">
  <div class="card">
   
    <div class="card-body">
    	 <img class="card-img-top" src="/images/services/crane.svg" alt="Card image cap">
      <h4 class="card-title">الإنشاء والتعمير</h4><hr>
      <p class="card-text">يعتبر الانشاء والتعمير هو اساس اعمالنا لأكثر من ٢٠ عام ، تقوم ترويل بتوفير مجموعة شاملة من الخدمات لكل من عملاء القطاع العام والخاص لتغطية كل مناطق الإنشائات.</p>
     </div>
  </div>
    </div>
  </div>
</div>

<div class="row">
	<ul class="list-group text-center">
  <li class="list-group-item ">عمارات</li>
  <li class="list-group-item">فلل</li>
  <li class="list-group-item">شقق</li>
  <li class="list-group-item">تشطيبات</li>
  <li class="list-group-item">أساسيات</li>
   <li class="list-group-item ">خرسانات</li>
  <li class="list-group-item">بناء</li>
  <li class="list-group-item">تبييض محارة</li>
  <li class="list-group-item">نجارة</li>
  <li class="list-group-item">سباكة</li>
  <li class="list-group-item">دهان</li>
  <li class="list-group-item">بلاط</li>
</ul>
</div>
</div>

<div class="container-fluid banner" style="background-image: url(/images/banner/constructor-2.jpg);
">
	<div class="overlay text-center">
		<img src="/images/banner/light-bulb.svg">
		<h3>نحن نشيد الفارق</h3>
	</div>
</div>