<section class="footer">
 <div class="container">
   <div class="row">
         <div class="col-sm-12  col-md-6 col-lg-3 text-center f-4">
           <h3>أن تفهم!</h3>
           <p> 
إشترك في النشرة البريدية لتبقي علي إطلاع بتغيرات الأسعار</p>
      <input class="list-group-item list-group-item-action in-1" type="email" name="email" placeholder="ادخل بريدك الالكترونى هنا ">
      <button type="button" class="list-group-item list-group-item-action in-2 animated zoomIn" >اشترك فى النشرة البريدية</button>
         </div>
      <div class="col-sm-12 f-3 col-md-6 col-lg-3">
        <div class="list-group">
  <h3 class="list-group-item list-group-item-action ">
   نحن في كل مكان
  </h3>
  
  <button type="button" class="list-group-item list-group-item-action" >صفحتنا علي فيسبوك <i class="fab fa-facebook-square"></i></button>
  <button type="button" class="list-group-item list-group-item-action" > حسابنا علي تويتر <i class="fab fa-twitter-square"></i></button>
  <button type="button" class="list-group-item list-group-item-action" >حسابنا علي لينكدإن <i class="fab fa-linkedin"></i></button>
  <button type="button" class="list-group-item list-group-item-action" >نجيب علي <br> إستفساراتكم عبر حساباتنا <i class="fas fa-question-square"></i></button>

</div>
      </div>

     
 
       <div class="col-sm-12 col-md-6 col-lg-3 f-2">
         <div class="list-group">
  <h3 class="list-group-item list-group-item-action ">
  تصفح

  </h3>
  <button type="button" class="list-group-item list-group-item-action">لصفحة الرئيسية</button>
  <button type="button" class="list-group-item list-group-item-action">إقرأ عنا
</button>
  <button type="button" class="list-group-item list-group-item-action">خدمات رئيسية</button>
  <button type="button" class="list-group-item list-group-item-action" >آراء عملائنا الأعزاء</button>
  <button type="button" class="list-group-item list-group-item-action" >هل لديك إستفسار؟</button>
</div>




       </div>
     
        <div class="col-sm-12 col-md-6 col-lg-3 f-1" id="trowel">
       <p>
        <h3>  Trowel <img src="/images/logo/trowel.png" alt=""> </h3>
      
       </p>
       <p>نجار ثم بناء ثم سباك ثم كهربائي ثم نجار ثم مبيض محارة ثم نقاش ثم ...، ثم...، ثم... 
مؤسسة ترويل هدفها تسهيل الأمور لن ترهق نفسك بالتأسيس ولا التشطيب، فقط نحن نتولي كل شيء ونخرج لك شقتك بالذوق الذي تريدة

</p>
     </div>
   </div>
 </div>
 

</section>