<section id="whoarewe" class="" data-wow-duration="2s" data-wow-delay="5s">
  <div class="container-fluid">
   
  	<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    

	    <div class="carousel-item active">
	     <img src="/images/services/constructor.jpg" alt="...">
	     <div class="carousel-caption  "  data-wow-duration="2s" data-wow-delay="5s">
         <div class="row">
	       <div class="jumbotron animated slideInLeft hidden-xs">
  <h6 class="display-12">الاكثر خبرة فى مجال اللأنشاءات والتعمير</h6>
  <hr class="my-4">
  <img src="/images/services/crane.svg" class="w-50">
  <p class="lead">كل ما تحتاجة لبناء إبداعي ومحترف</p>
  
  
  <p class="lead">
    <a class="btn btn-primary btn-lg btn-block" href="#" role="button">تواصل معانا</a>
  </p>
</div>
	    </div>
	  </div>
  
  </div>
</div>
</div>
  </div>
  <div class="container">
  	<div class="row">
    <div class="col">
       <div class="card-group ">
  <div class="card animated slideInLeft " data-wow-duration="2s" data-wow-delay="5s">
   
    <div class="card-body">
      <h5 class="card-title">150</h5>
      <p class="card-text">مشروع مكتمل</p>
    
    </div>
  </div>
  </div>
   </div>
    <div class="col">
     <div class="card-group ">
     
   <div class="card animated slideInDown" data-wow-duration="2s" data-wow-delay="5s">
   
    <div class="card-body">
      <h5 class="card-title">1350</h5>
      <p class="card-text">يد عاملة</p>
    
    </div>
  </div>
</div>
</div>
 <div class="col">
<div class="card-group ">
 
   <div class="card animated slideInLeft" data-wow-duration="2s" data-wow-delay="5s">
   
    <div class="card-body">
      <h5 class="card-title">12</h5>
      <p class="card-text">عام من الخبرة</p>
    
    </div>
  </div>
</div>
</div>
  <div class="col">
<div class="card-group ">

  <div class="card animated slideInDown" data-wow-duration="2s" data-wow-delay="5s">
   
    <div class="card-body " style="border-right: 0px;">
      <h5 class="card-title">8</h5>
      <p class="card-text">مشروع قائم</p>
    
    </div>
  </div>
</div>
</div>
 
    </div>
  </div>
</section>